@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family:'Noto Sans', sans-serif;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom,#634175,#363238);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left>h1{
    font-size: 3vw;
    color: #77ffc0;
    margin-bottom: 0px;
}

.left-image{
    width: 35vw;
}

.right{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #634175;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.214);
}

.card>h1{
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.text-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;

}
.text-field>input{
    width:100%;
    border: none;
    border-radius:10px;
    padding: 15px;
    background-color:#81519b;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.214);
    outline: none;
    box-sizing: border-box;
}


.text-field>label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.text-field>::placeholder{
    color: #f0ffff94;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border:none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color:#2b134b;
    background-color: #00ff88;
    cursor: pointer;
}
.btn-login:hover{
    box-shadow: 0px 10px 40px -12px #20ff97bb;
}

@media(max-width:950px){
    .card{
        width: 85%;
    }
}

@media(max-width:600px){
    .main-login{
        flex-direction: column;
    }
    .left>h1{
        display: none;
    }
    .left-image{
        width: 55vw;
        height: 35vh;
    }
}